<ion-header [translucent]="true">
  <ion-text color="primary">
    <ion-img routerLink="/home" src="assets\icon\1280px-Logo_DuocUC.svg.png"></ion-img> 
  </ion-text>
</ion-header>

  <ion-content class="container">
    <div class="box">
      <h1 >Crear Cuenta</h1>
        <ion-item>
          <ion-label expand="full" position="stacked">Usuario</ion-label>
          <ion-input placeholder="Ingrese Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label expand="full" position="stacked">Contraseña</ion-label>
          <ion-input placeholder="Ingrese Contraseña"></ion-input>
        </ion-item>
        <ion-button expand="full" >Ingresar</ion-button>
        <ion-text color="primary">
          <p routerLink="/login">iniciar sesion</p>
        </ion-text>
     
    </div>
  </ion-content>


 

