<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-a routerLink="/home">Iniciar Sesion</ion-a>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    
    <ion-button expand="full" (click)="login()">Ingresar</ion-button>
    <ion-text color="primary">
      <p routerLink="/sign-in">crear cuenta</p>
    </ion-text>
  </ion-content>

</ion-content>
