<ion-header [translucent]="true">
  <ion-img routerLink="/home" src="assets\icon\1280px-Logo_DuocUC.svg.png"></ion-img> 
</ion-header>


<ion-content class="container">
  <div class="box">
    <h1>{{ username }}</h1>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nivel de Educación</ion-label>
      <ion-input [(ngModel)]="educacion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha de Nacimiento</ion-label>
      <ion-input [(ngModel)]="fechaNacimiento" type="date"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="limpiar()">Limpiar</ion-button>
    <ion-button expand="full" (click)="mostrarInformacion()">Mostrar</ion-button>
  </div>

</ion-content>