<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">main</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="square-container">
      <div class="colored-element" [style.background-color]="currentColor"></div>
    </div>
  </ion-content>
</ion-content>
<ion-content class="container">
  <div class="box">
   <h1>Lograste Ingresar</h1>
   <h2>Bienvenido Disfruta del cubo</h2>
    <ion-button (click)="changeSquareColor()">Fiesta!</ion-button>
  </div>

</ion-content>