

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
  </ion-header>
  <ion-text color="primary">
    <ion-img src="assets\icon\1280px-Logo_DuocUC.svg.png"></ion-img> 
  </ion-text>

  <ion-content class="container">
    <div class="box">
      <h1 >Bienvenido</h1>
      <ion-button  expand="full" routerLink="/login">Iniciar Sesion</ion-button>
      <ion-button  expand="full" routerLink="/sign-in">Crear Cuenta</ion-button>
      <ion-button  expand="full" routerLink="/remember">Recordar Contraseña</ion-button>
    </div>
    <p routerLink="/login"></p>
  </ion-content>




    <ion-content>
      
      
    </ion-content>
    
</ion-content>

