<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
  </ion-header>
  <ion-text color="primary">
    <h1 >Bienvenido a  SkeletonAPP</h1>
  </ion-text>
    <ion-content>
      
      <ion-button  expand="full" routerLink="/login">Iniciar Sesion</ion-button>
      <ion-button  expand="full" routerLink="/sign-in">Crear Cuenta</ion-button>
    </ion-content>
    
</ion-content>

