<ion-content [fullscreen]="true">
  <ion-header>

  <ion-text color="primary">
    <ion-img routerLink="/home" src="assets\icon\1280px-Logo_DuocUC.svg.png"></ion-img> 
  </ion-text>

  </ion-header>
  <ion-content class="container">
    <div class="box">
      <h1 >Recordar Usuario</h1>
      <ion-item>
        <ion-label id="User" position="floating">Usuario</ion-label>
        <ion-input type="text"  ></ion-input>
      </ion-item>
   
      <ion-button id="present-alert" routerLink="/home" >Ingresar</ion-button>
      <ion-alert trigger="present-alert" header="recibirás la verificación en tu correo "  ></ion-alert>
      
      
      
      <ion-text color="tertiary">
        <p routerLink="/sign-in">crear cuenta</p>
      </ion-text>
    </div>
 
  </ion-content>
